@import "variables";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    font-size: 14px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    max-width: 1920px;
    min-width: 500px;
    background: $modest-color;
}